body {
    background: linear-gradient(to right, #05beec, #096bad);
}

nav ul {
    list-style: none;
    display: flex;
    color: white;
    gap: 3rem;
    font-size: 2rem;
}

nav ul li a {
    color: white; 
    text-decoration: none; 
}

nav ul li a:hover {
    cursor: pointer;
    font-size: 2.2rem;
    text-decoration: underline;
    transition: font-size 0.5s, text-decoration 0.5s;
    color: white; 
}
